campaign-effectiveness - copy/
dunnhumby_The-Complete-Journey/
Familiarisation/
Files/
recommendation - copy/
segmentation - copy/
web app/
segmentation/merged_transactions_product.csv
segmentation/segmentation_df.csv
segmentation/segmented_df.csv